// $primary: #16425B;
// $primary-2: #2F6690;
// $primary-3: #3A7CA5;
// $primary-4: #81C3D7;
// $secondary: #D9DCD6;

//colors
$primary: #D2D0BA;
$primary-2: #889696;
$primary-3: #B8BDB5;
$primary-4: #D2D4C8;
$secondary: #414040;
//colors

// custom common styles
$text-primary: $primary;
$text-secondary: $secondary;
$background: $secondary;
$border: #B8BDB5;

$xxs: 0.25rem;
$xs: 0.5rem;
$sm: 0.75rem;
$md: 1rem;
$lg: 1.25rem;
$xl: 1.5rem;
$xxl: 1.75rem;
$xxxl: 2rem;


//break points
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1605px;