// $primary: #16425B;
// $primary-2: #2F6690;
// $primary-3: #3A7CA5;
// $primary-4: #81C3D7;
// $secondary: #D9DCD6;

$background: #D4CBB1;

//colors
$primary: #5C4B34;
//colors

// custom common styles
$text-primary: $primary;
$text-secondary: rgba($primary, 0.9);
$text-tertiary: rgba($primary, 0.5);
$border: $primary;

$xxs: 0.25rem;
$xs: 0.5rem;
$sm: 0.75rem;
$md: 1rem;
$lg: 1.25rem;
$xl: 1.5rem;
$xxl: 1.75rem;
$xxxl: 2rem;
$threexl: 3rem;
$fourxl: 4rem;


//break points
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1605px;



//customs

$exp-card-background: #D1CCAB;
$project-card-background: #D1CCAB;