li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primary;
}

.w-100 {
    width: 100%;
}

.anim-at {
    opacity: 0 !important;
    transform: translateY(100px);
    transition: all 1s;

    &.show {
        transform: translateY(0);
        opacity: 1 !important;
    }

}