@mixin all-body-styles {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  ;
  font-optical-sizing: auto;
  font-weight: 400;
  scroll-behavior: smooth;
}

@mixin full-width-height {
  height: 100vh;
  width: 100vw;
}

@mixin title {
  color: #fff;
  text-align: center;
  letter-spacing: -6px;
  font-size: 8vw;
  font-weight: 400;

  @media (max-width: $breakpoint-md) {
    font-size: 60px;
  }
}

@mixin center-element {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}