@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import "components/mixins", "variables/variables", "components/global";

* {
    @include all-body-styles;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-image: url("../images/navy_blue.png");
    background-attachment: fixed;
    padding: 0px 16px;
    &::-webkit-scrollbar {
        width: 0.5em;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(90, 90, 90);
        outline: 1px solid slategrey;
        border-radius: 8px;
    }
}

.main-wrapper {
    overflow-x: hidden;
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        position: sticky;
        display: inline;
        top: 30px;
        z-index: 2;

        ul {
            max-width: max-content;
            background: #414040;
            padding: $xl;
            border-radius: $lg;
            margin: auto;
            display: flex;
            justify-content: center;
            gap: $xxl;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            li {
                a {
                    font-weight: 500;
                    font-size: $lg;
                    color: $text-primary;

                    &:hover {
                        text-decoration: underline;
                        color: $primary;
                    }
                }
            }
        }

        @media (max-width: $breakpoint-md) {
            display: none;
        }
    }

    #section-one {

        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:2vh;
        
        .name-container {
            width: 55%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border;
            border-radius: 1vw;
            padding: 1vw;
            img {
                position: absolute;
                width: 9%;
                top: -21%;
                width: 9%;
                opacity: 0;
            }
            #js {
                left: 8%;
            }
            #html {
                left: 25%;
            }
            #css {
                left: 45%;
            }
            #react {
                width: 8%;
                left: 65%;
            }
            #node {
                width: 7%;
                left: 85%;
            }
            .name {
                font-size: 7vw;
                font-weight: 600;
                color: $primary;
                text-wrap: nowrap;
                letter-spacing: 1vw;
                // padding: 1%;
             
            }
        }

        .description {
            font-size: 2.5vw;
            font-weight: 600;
            color: $primary;
            letter-spacing: 0.8rem;
            text-wrap: nowrap;
            opacity: 0;
        }



    }


    //end of new css

    #about {
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 50vh;
        gap: 10%;
        // border: 1px solid $border;
        .about-me-text,
            .about-me-desc {
                padding: 0;
                color: $text-primary;
            }
            .about-me-text {
                text-wrap: nowrap;
                font-size: 4vw;
                max-width: 1000px;
                @media (max-width: $breakpoint-md) {
                    font-size: 10vw;
                }
            }

            .about-me-desc {
                // padding: $xxl;
                text-wrap: wrap;
                display: flex;
                align-items: end;
                font-size: 1vw;
                max-width: 1000px;
                @media (max-width: $breakpoint-md) {
                    font-size: 3vw;
                }
            }   
    }

    #project {
        height: 80vh;
        display: flex;
        flex-direction: column;

        .project-title {
            flex-shrink: 0;
            width: 100%;
            font-size: 4vw;
            color: $text-primary;
            margin: 60px auto;
            text-align: center;

            @media (max-width: $breakpoint-md) {
                font-size: 10vw;
            }
        }

        .project-container {
            display: flex;
            gap: 16px;

            .work-item {
                flex-shrink: 0;
                background: #414040;
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                width: 1200px;
                height: 50vh;
                display: flex;
                justify-content: space-between;
                padding: 30px;
                gap: 16px;
                
                .work-item-info {
                    .work-item-title {
                        font-size: $xxxl;
                        font-weight: bold;
                        color: $text-primary;
                        margin-bottom: 24px;
                        @media (max-width: $breakpoint-xxl) {
                            font-size: $xl;
                        }
                    }

                    .work-item-text {
                        font-size: $md;
                        color: $text-primary;
                        margin: 8px auto;

                        .title {
                            font-weight: bold;
                        }

                        a {
                            color: $text-primary;
                            text-decoration: underline;
                        }
                        @media (max-width: $breakpoint-md) {
                            font-size: $sm;
                        }
                    }

                    
                }

                .work-item-image {
                    border-radius: 8px;
                    border: 1px solid $border;
                    object-fit: cover;

                    // @media (max-width: $breakpoint-xl) {
                    //     display: none;
                    // }
                }
            }
        }
    }

    #experience {
        height: 80vh;
        display: flex;
        flex-direction: column;
        .experience-header {
            flex-shrink: 0;
            width: 100%;
            font-size: 4vw;
            color: $text-primary;
            margin: 60px auto;
            text-align: center;
            @media (max-width: $breakpoint-md) {
                font-size: 10vw;
            }
        }

        .experience-main-container {
            display: flex;
            gap: 16px;
            .experience-panel {
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50vh;
                width: 1200px;

                &.experience-container {
                    .experience-item {
                        background: #414040;
                        border-radius: 16px;
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding: 30px;
                        gap: 16px;

                        .experience-item-info {
                            .experience-item-title {
                                font-size: $xxxl;
                                font-weight: bold;
                                color: $text-primary;
                                margin-bottom: 24px;
                                @media (max-width: $breakpoint-xl) {
                                    font-size: $xl;
                                }
                            }

                            .experience-item-company-title {
                                color: $text-primary;
                                font-weight: bold;
                                font-size: 1.5rem;
                                @media (max-width: $breakpoint-xl) {
                                    font-size: $lg;
                                }
                            }

                            .experience-item-text {
                                font-size: $md;
                                color: $text-primary;
                                margin: 8px auto;

                                .title {
                                    font-weight: bold;
                                }

                                a {
                                    color: $text-primary;
                                    text-decoration: underline;
                                }
                                @media (max-width: $breakpoint-xl) {
                                    font-size: $md;
                                }
                                @media (max-width: $breakpoint-md) {
                                    font-size: $sm;
                                }
                            }
                        }

                        .experience-item-image {
                            border-radius: 8px;
                            border: 1px solid $border;
                            object-fit: cover;

                            // @media (max-width: $breakpoint-xl) {
                            //     display: none;
                            // }
                        }
                    }
                }
            }
        }
    }

    #contact {
        height: 30vh;
        .contact-container {
            color: $text-primary;
            width: 100vw;
            display: grid;
            place-items: center;

            .contact-animator-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                .contact-me-text {
                    font-size: $threexl;
                    @media (max-width: $breakpoint-md) {
                        font-size: $xl;
                    }
                }

                .contact-me-desc {
                    font-size: $xxl;
                    margin-top: 42px;

                    .send-mail-button {
                        color: $text-primary;
                        border-radius: 8px;
                        border: 1px solid $border;
                        padding: 8px;
                        @media (max-width: $breakpoint-md) {
                            font-size: $xl;
                        }
                        
                    }
                }
            }
        }
    }

    #floating-div {
        position: fixed;
        /* Keeps the div fixed on the screen */
        bottom: 20px;
        /* Distance from the bottom */
        right: 20px;

        /* Distance from the right */
        .scroll-icon {
            font-size: $fourxl !important;
            color: $text-primary;

            @media (max-width: $breakpoint-sm) {
                font-size: $xxxl !important;
            }
        }
    }


    #horizontal-scroll-section {
        height: 100vh;
        width: 100%;
        position: relative;
        overflow: hidden;
        .cards-container {
            display: flex;
            height: 100%;
            align-items: center;
            gap: 40px; /* Space between cards */
            padding: 0 10vw; /* Horizontal padding */
          }
          .card {
            width: 600px;
            height: 80vh;
            flex-shrink: 0;
            background: #fff;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: #333;
            &:nth-child(odd) {
                background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
              }
              &:nth-child(even) {
                background: linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%);
              }  
          }
          
          /* Optional: Add some visual styling to cards */     
    }


    #container {
        height: 100vh;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    
        .header {
            flex-shrink: 0;
            width: 100%;
            font-size: 4vw;
            color: aliceblue;
            margin: 50px auto;
        }
    
        .contents {
            display: flex;
            gap: 16px;
    
            .content {
    
                flex-shrink: 0;
                width: 600px;
                height: 40vh;
                background-color: #000;
                color: aliceblue;
                display: grid;
                place-items: center;
                border: 1px solid #fff;
            }
        }
    }
    
}