@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #D2D0BA;
}

.w-100 {
  width: 100%;
}

.anim-at {
  opacity: 0 !important;
  transform: translateY(100px);
  transition: all 1s;
}
.anim-at.show {
  transform: translateY(0);
  opacity: 1 !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/navy_blue.png");
  background-attachment: fixed;
  height: 100vh;
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(90, 90, 90);
  outline: 1px solid slategrey;
  border-radius: 8px;
}

.main-wrapper .flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrapper .flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-wrapper nav {
  position: sticky;
  display: inline;
  top: 30px;
  z-index: 2;
}
.main-wrapper nav ul {
  max-width: -moz-max-content;
  max-width: max-content;
  background: #414040;
  padding: 1.5rem;
  border-radius: 1.25rem;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main-wrapper nav ul li a {
  font-weight: 500;
  font-size: 1.25rem;
  color: #D2D0BA;
}
.main-wrapper nav ul li a:hover {
  text-decoration: underline;
  color: #D2D0BA;
}
@media (max-width: 768px) {
  .main-wrapper nav {
    display: none;
  }
}
.main-wrapper #hero-section {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrapper #hero-section .hero-infos {
  position: relative;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrapper #hero-section .hero-infos .my-name {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 7rem;
  font-weight: 600;
  color: #D2D0BA;
  letter-spacing: 0.8rem;
  margin-bottom: 1.75rem;
  text-wrap: nowrap;
}
@media (max-width: 960px) {
  .main-wrapper #hero-section .hero-infos .my-name {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  .main-wrapper #hero-section .hero-infos .my-name {
    font-size: 1.5rem;
  }
}
.main-wrapper #hero-section .hero-infos .ml12 {
  position: absolute;
  top: 0;
  margin-top: 20px;
  text-wrap: nowrap;
}
.main-wrapper #hero-section .hero-infos .ml12 .letter {
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  color: #414040;
}
@media (max-width: 960px) {
  .main-wrapper #hero-section .hero-infos .ml12 .letter {
    font-size: 1rem;
  }
}
.main-wrapper #hero-section .hero-infos .wrapper {
  height: 20px;
  position: relative;
  margin: auto;
  background: #ccc;
  overflow: hidden;
  /*   overflow:hidden; */
}
.main-wrapper #hero-section .hero-infos .wrapper .boxes .box {
  height: 30px;
  width: 30px;
  position: absolute;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}
.main-wrapper #hero-section .hero-infos .wrapper .boxes .box:first-child {
  color: #414040;
}
.main-wrapper #about {
  display: flex;
  overflow-x: hidden;
}
.main-wrapper #about .about-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 100%;
  padding: 5rem;
}
.main-wrapper #about .about-container .about-me-text,
.main-wrapper #about .about-container .about-me-desc {
  color: #D2D0BA;
}
.main-wrapper #about .about-container .about-me-text {
  text-wrap: nowrap;
  font-size: 7rem;
  height: -moz-min-content;
  height: min-content;
  max-width: 1000px;
}
.main-wrapper #about .about-container .about-me-desc {
  text-wrap: wrap;
  display: flex;
  align-items: end;
  font-size: 1.75rem;
  max-width: 1000px;
}
@media (max-width: 1605px) {
  .main-wrapper #about .about-container {
    padding: 2rem;
    display: inline;
  }
  .main-wrapper #about .about-container .about-me-text {
    font-size: 5rem;
    text-wrap: wrap;
  }
  .main-wrapper #about .about-container .about-me-desc {
    margin-top: 1.5rem;
    text-wrap: wrap;
    padding: 0;
  }
}
@media (max-width: 1280px) {
  .main-wrapper #about .about-container .about-me-text {
    font-size: 3rem;
    text-wrap: wrap;
  }
  .main-wrapper #about .about-container .about-me-desc {
    font-size: 1.5rem;
    text-wrap: wrap;
    padding: 0;
  }
}
.main-wrapper #project {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  margin: 0;
}
.main-wrapper #project .project-title {
  color: #D2D0BA;
  text-wrap: nowrap;
  font-size: 7rem;
}
@media (max-width: 768px) {
  .main-wrapper #project .project-title {
    font-size: 3rem;
  }
}
.main-wrapper #project .container {
  width: 700%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
}
.main-wrapper #project .container .panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  height: 55vh;
  width: 55vw;
  min-width: 400px;
}
.main-wrapper #project .container .panel.description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  width: 100vw !important;
}
@media (max-width: 768px) {
  .main-wrapper #project .container .panel {
    height: 60vh;
  }
}
.main-wrapper #project .container .panel.project-container {
  /* From https://css.glass */
  background: #414040;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.main-wrapper #project .container .panel.project-container .work-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap: 16px;
}
.main-wrapper #project .container .panel.project-container .work-item .work-item-info .work-item-title {
  font-size: 2rem;
  font-weight: bold;
  color: #D2D0BA;
  margin-bottom: 24px;
}
.main-wrapper #project .container .panel.project-container .work-item .work-item-info .work-item-text {
  font-size: 1rem;
  color: #D2D0BA;
  margin: 8px auto;
}
.main-wrapper #project .container .panel.project-container .work-item .work-item-info .work-item-text .title {
  font-weight: bold;
}
.main-wrapper #project .container .panel.project-container .work-item .work-item-info .work-item-text a {
  color: #D2D0BA;
  text-decoration: underline;
}
.main-wrapper #project .container .panel.project-container .work-item .work-item-image {
  border-radius: 8px;
  border: 1px solid #B8BDB5;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1280px) {
  .main-wrapper #project .container .panel.project-container .work-item .work-item-image {
    display: none;
  }
}
.main-wrapper .sss {
  background-color: red;
  height: 100vh;
}/*# sourceMappingURL=index.css.map */